body {
  overflow-x: hidden;
}
html {
  overflow: scroll;
  overflow-x:hidden;
}
::-webkit-scrollbar {
  width: 0px;
}
.jumbotron {
  padding-top: 10rem;
  background-color: #e2edff;
}

#propil {
  background-color: aqua;
}
section {
  padding-top: 10rem;
}
